.notepad-dlg-font .dialogbox {
    width: 445px;
    height: 500px;
    top:30px;
}
.notepad-dlg-font .notepad-dlg-main {
    height: 470px;
    position: relative;
}
.notepad-dlg-titlebar .font-title {
    position: absolute;
    left: 10px;
    line-height: 30px;
    margin:0;
}
.notepad-dlg-font .notepad-dlg-main>div>p{
    padding:0;
    margin:0;
}
.notepad-dlg-font .notepad-dlg-main .font-family,
.notepad-dlg-font .notepad-dlg-main .font-style {
    display: inline-block;
    margin-right: 16px;
}
.notepad-dlg-font .notepad-dlg-main .font-size {
    display: inline-block;
}
.notepad-dlg-font .notepad-dlg-main .example {
    width: 200px;
    height: 80px;
    margin: 30px 0 0 0;
    border-color: #fff;
    position: absolute;
    right: 20px;
}
.notepad-dlg-font .notepad-dlg-main .example>p{
    margin:0;
}
.notepad-dlg-font .notepad-dlg-main .script {
    position: absolute;
    right: 20px;
    bottom: 100px;
}
.notepad-dlg-font .notepad-dlg-main select {
    height: 22px;
    width: 220px;
}
.notepad-dlg-font .notepad-dlg-main .btn-sure {
    bottom: 10px;
    position: absolute;
    right: 110px;
}
.notepad-dlg-font .notepad-dlg-main .btn-cancel {
    bottom: 10px;
    position: absolute;
    right: 16px;
}