*{
    padding:0;
    margin:0;
}
.notepad-menu-bar {
    background-color: white;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    user-select: none;
    z-index: 5;
}
.title {
    border: 1px solid white;
    box-sizing: border-box;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 24px;
    text-align: center;
    width: 60px;
}
.title:hover {
    box-sizing: border-box;
    background-color: #cce8ff;
    border: 1px solid #99d1ff;
}
.menu-second {
    background-color: #f2f2f2;
    box-shadow: 5px 5px 5px #a6a6a6;
    display: inline-block;
    font-size: 1em;
    margin: 0;
    padding: 2px;
    position: absolute;
    top: 20px;
    width: 202px;
}
.menu-item {
    display: block;
    height: 22px;
    line-height: 22px;
    margin-left: 2px;
    margin-right: 1px;
    text-align: left;
    padding-left: 34px;
    position: relative; 
}
.menu-item:hover {
    background-color: #99d1ff;
    height: 22px;
}
.shortcut {
    position: absolute;
    right: 20px;
}
.disabled {
    color: #6d6d6d;
}
.disabled:hover {
    background-color: #e6e6e6;
}
.menu-hr {
    border: 1px solid #d7d7d7;
    display: block;
    height: 0;
    margin: 4px;
    margin-left: 34px;
}
.checked {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    line-height: 22px;
    text-align: center;
    background-color: #90c8f6;
}